.solutions{
    .solution-list{
        margin: 0 15px;

        .title{
            background: #00000080;
            width: 100%;
            height: 30px;
            color: #fff;
            bottom:0;
        }
    }
}